.container{
  background: hsla(312, 4%, 52%, 0.452);
  height: 100vh;
  margin-top:0;
  padding: 70px;
  overflow: hidden;
 
}
.slider h1{
  font-size: 3rem;
  font-family:Arial, sans-serif;
  letter-spacing: 0.5rem;
  margin: 5%;
 
  font-weight: bold;
  color: hsla(280, 1%, 47%, 0.705);
}
.slider p{
font-size: 1rem;
font-family:Arial, sans-serif;
color:hsla(240, 30%, 41%, 0.76);
margin: 5%;
padding: 20px;
}

.slider {
  position: relative;
  width: 50%;
  margin: auto;

  overflow: hidden;
}

.slider img {
 width: 100%;
  display: none;
}

img.displaySlide {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slider button{
  position: absolute;
  top: 65%;
  transform: translateY(-35%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsla(0, 0%, 0%, 0.521);
  color: white;
  border: none;
  cursor: pointer;

}
.previous{
  left: 0;
}

.next{
  right: 0;
}

@keyframes fade{
  from {opacity: .5}
  to {opacity: 1}
}
